%h2 
  This car is of
  = @user.name
  = @user.last_name
%h3 
  Model :
  =@car.model
%h3 
  Brand:
  =@car.brand
= simple_format(@car.model)
%h3 Car's Picture
.asset
  - @car.assets.each do |asset|
    %p
      = link_to File.basename(asset.asset.path), asset.asset.url
    %small= number_to_human_size(asset.asset.size)
    =link_to "Back", :back

%h3 Comments
#comments
  - if @car.comments.exists?
    = render @car.comments.select(&:persisted?)
  - else
    There are no comments for this car.
= render "comments/form"
